{% extends "games/base.html" %}

{% block content %}
<div class="container mt-4">
    <h1>Select a Game</h1>
    <p class="lead">Choose a game to play!</p>

    <div class="row mt-4">
        <!-- Memory Game -->
        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h4 class="card-title">Memory Game</h4>
                    <p>Test your memory by matching items and recalling their positions to complete the game.</P>
                    <a href="{% url 'measy' %}" class="btn btn-success">easy </a> 
                    <a href="{% url 'mmedium' %}" class="btn btn-success">medium</a>
                    <a href="{% url 'mhard' %}" class="btn btn-success">hard</a>
                </div>
            </div>
        </div>

        <!-- Maze Game -->
        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h4 class="card-title">Sudoku</h4>
                    <p>Solve the puzzle by filling in the grid so that every row, column, and section contains all the numbers without repetition.</p>
                    <a href="{% url 'easy' %}" class="btn btn-success">easy </a> 
                    <a href="{% url 'medium' %}" class="btn btn-success">medium</a>
                    <a href="{% url 'hard' %}" class="btn btn-success">hard</a>
                    <!-- Add URL later -->
                </div>
            </div>
        </div>

        <!-- Quiz Game -->
        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h4 class="card-title">Number Sliding</h4>
                    <p>Arrange the numbers in order by sliding tiles into the empty space to complete the puzzle.</p>
                    <a href="{% url 'neasy' %}" class="btn btn-success">easy</a>
                    <a href="{% url 'nmedium' %}" class="btn btn-success">medium</a>
                    <a href="{% url 'nhard' %}" class="btn btn-success">hard</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
